body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, section, footer {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #4CAF50;
    color: white;
}

h1 {
    margin: 0;
}

#featured-products ul, #why-cleantech ul, #what-you-get ul {
    list-style-type: none;
}

#featured-products ul ul {
    margin-top: 10px;
    margin-bottom: 20px;
}

#featured-products li {
    font-weight: bold;
}

#why-cleantech ul, #what-you-get ul {
    margin-left: 20px;
}

#purchase-now a {
    color: #4CAF50;
}

footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px 0;
}
